<section class="container mt-16">
  <div class="mt-10 pb-4 relative flex justify-center">
    <img
      src="tournament2025.jpg"
      alt="Tournament Image"
      class="w-full lg:w-2/4"
    />
  </div>

  <div class="py-8 px-4">
    <h2 class="text-3xl font-bold text-center text-gray-800">Introduction</h2>
    <p class="mt-4 text-lg text-center text-gray-600">
      Thank you everyone for joining us in our 1<sup>st</sup> edition of Gurans
      Cup. Congratulations to Texas FC Blue in regular and Nepal Seattle FC in
      35+ category for winning the tournament. Looking forward to seeing you all
      next year.
    </p>
    <p>Regular Category:</p>
    <ul>
      <li>Winner: Texas FC Blue</li>
      <li>Runner Up: Dallas Gurkhas Red</li>
      <li>MVP: Monoj Chuwan (Texas FC Blue)</li>
      <li>Best GoalKeeper: Parth Jung Thapa (Dallas Gurkhas Red)</li>
    </ul>

    <p>35+ Category:</p>
    <ul>
      <li>Winner: Nepal Seattle FC</li>
      <li>Runner Up: DFW Himalayas FC</li>
      <li>MVP: Umesh Pandey (Nepal Seattle FC)</li>
      <li>Best GoalKeeper:Sajal Nepal (Nepal Seattle FC)</li>
    </ul>
  </div>

  <div class="py-8 px-4 bg-gray-100">
    <div class="rules-container">
      <h2 class="title">Rules and Regulations</h2>
      <!-- <p class="subtitle">**Subject to Change**</p> -->
      <div>
        <button
          (click)="toggleSection('tournamentRules')"
          class="flex items-center justify-between w-full px-4 py-3 text-lg font-semibold text-white bg-sky-600 border rounded-lg transition-all duration-300 hover:bg-sky-600"
        >
          <span class="px-2">Tournament Rules</span>
          <span
            class="inline-block transition-transform transform"
            [class.-rotate-180]="showTournamentRules"
          >
            ▼
          </span>
        </button>
        <div
          *ngIf="showTournamentRules"
          class="mt-4 p-4 text-gray-700 bg-gray-50 border border-gray-200 rounded-lg mb-3"
        >
          <h6>Player Registration:</h6>
          <ul
            class="list-disc list-inside space-y-2 pl-5 text-gray-700 text-base"
          >
            <li>
              Every Individual player must show a government issued ID for
              verification and sign a waiver form on the day or before the
              tournament.
            </li>
            <li>
              No Outside Food or Alcohol: Strictly prohibited inside the
              complex.
            </li>
            <li>
              Teams are responsible for disposing of trash in designated areas.
            </li>
          </ul>
          <!-- <h6>No Outside Food or Alcohol:</h6>
          <ul
            class="list-disc list-inside space-y-2 pl-5 text-gray-700 text-base"
          >
            <li>Strictly prohibited inside the complex.</li>
            <li>
              Teams are responsible for disposing of trash in designated areas.
            </li>
          </ul> -->
          <h6>Game Format:</h6>
          <ul
            class="list-disc list-inside space-y-2 pl-5 text-gray-700 text-base"
          >
            <li>First round follows a points-based league format.</li>
            <li>
              League and quarter-final games: 25 min per half. Semi-finals and
              finals: 30 min per half. Tied points/goal difference will be
              settled by 5 min extra time in Quarter Finals, Semi Finals and
              Finals.
            </li>
            <li>Teams more than 10 minutes late will forfeit (2-0 score).</li>
          </ul>
          <h6>Team Setup:</h6>
          <ul
            class="list-disc list-inside space-y-2 pl-5 text-gray-700 text-base"
          >
            <li>
              Regular bracket: 12 players. Seven on-field, unlimited
              substitutions.
            </li>
            <li>
              35+ bracket: 12 players. Seven on-field, unlimited substitutions.
            </li>
          </ul>
          <h6>Player IDs:</h6>
          <ul
            class="list-disc list-inside space-y-2 pl-5 text-gray-700 text-base"
          >
            <li>
              All players must be on the roster to play. For the 35+ category,
              government-issued ID and a physical passport are required for
              secondary verification if asked by the organizers. (DOB year
              should be before January 31<sup>st</sup>, 1990)<sup>*</sup>
            </li>
          </ul>
          <h6>Equipment:</h6>
          <ul
            class="list-disc list-inside space-y-2 pl-5 text-gray-700 text-base"
          >
            <li>
              Full team uniforms, proper footwear, and shin guards are
              mandatory. No jewelry or metal-studded cleats. The team that
              registered first chooses their jersey if there is a color clash.
              Pennies will be provided by the organizers if no team has a
              secondary Jersey.
            </li>
          </ul>
          <h6>Eligibility:</h6>
          <ul
            class="list-disc list-inside space-y-2 pl-5 text-gray-700 text-base"
          >
            <li>
              No foreign players allowed. If questioned, the respective player’s
              community verification is required.
            </li>
            <li>
              One player can only play for one team under the same category.
            </li>
            <li>
              For the 35+ category, as long as the BIRTH YEAR is January 31<sup
                >st</sup
              >
              1990 or before, you are eligible to play.
            </li>
          </ul>
          <h6>Punctuality:</h6>
          <ul
            class="list-disc list-inside space-y-2 pl-5 text-gray-700 text-base"
          >
            <li>Teams must arrive 30 minutes early.</li>
          </ul>
          <h6>Conduct:</h6>
          <ul
            class="list-disc list-inside space-y-2 pl-5 text-gray-700 text-base"
          >
            <li>
              Officials’ decisions are final. Fights, fake IDs, or inappropriate
              behavior will lead to disqualification. No vulgar language
              allowed.
            </li>
          </ul>
          <h6>Direct and Indirect Kicks:</h6>
          <ul
            class="list-disc list-inside space-y-2 pl-5 text-gray-700 text-base"
          >
            <li>
              When the ball goes out of play along the sidelines, the game is
              restarted with a kick-in, not a throw-in.
            </li>
            <li>
              A goal can be scored directly from any kick off except Goal Kick.
            </li>
          </ul>
          <h6>Goalkeeper Restrictions:</h6>
          <ul
            class="list-disc list-inside space-y-2 pl-5 text-gray-700 text-base"
          >
            <li>
              A direct goal from the goalkeeper is not allowed meaning the ball
              must touch another player first.
            </li>
          </ul>
          <h6>Tackling:</h6>
          <ul
            class="list-disc list-inside space-y-2 pl-5 text-gray-700 text-base"
          >
            <li>
              Any physical challenges will be deemed a foul, and the referee
              will penalize accordingly.
            </li>
            <li>
              Slide tackling is only permitted to reach a cross or to keep a
              ball in play.
            </li>
          </ul>
          <h6>Substitutes:</h6>
          <ul
            class="list-disc list-inside space-y-2 pl-5 text-gray-700 text-base"
          >
            <li>
              Unlimited substitutions are allowed as long as the referee is made
              aware of the changes.
            </li>
            <li>
              Substitutes must enter and leave the field of play at the referees
              discretion.
            </li>
          </ul>
          <h6>Referee Decisions:</h6>
          <ul
            class="list-disc list-inside space-y-2 pl-5 text-gray-700 text-base"
          >
            <li>
              The referee’s decision is FINAL on all matters during the game,
              including fouls, cards, and other in-game situations.
            </li>
          </ul>
          <h6>FIFA Regulations:</h6>
          <ul
            class="list-disc list-inside space-y-2 pl-5 text-gray-700 text-base"
          >
            <li>For all other rules the laws of FIFA will apply.</li>
          </ul>
          <h6>Final Decisions:</h6>
          <ul
            class="list-disc list-inside space-y-2 pl-5 text-gray-700 text-base"
          >
            <li>
              Organizers and management reserve the right to make necessary
              changes.
            </li>
          </ul>
          <h6>
            Note : 2 player/s changes or modifications to the team roster will
            be allowed after tie sheet draw and before January 17th 5PM PST,
            2025.
          </h6>
        </div>
      </div>
    </div>
  </div>

  <div class="py-8 px-4">
    <div class="flex space-x-4">
      <button
        (click)="selectMainTab('regular')"
        [ngClass]="{
          'border-b-2 border-blue-600 text-blue-600':
            selectedMainTab === 'regular'
        }"
        class="py-2 px-4 font-semibold focus:outline-none"
      >
        Regular
      </button>
      <button
        (click)="selectMainTab('35+')"
        [ngClass]="{
          'border-b-2 border-blue-600 text-blue-600': selectedMainTab === '35+'
        }"
        class="py-2 font-semibold focus:outline-none"
      >
        35+
      </button>
    </div>
  </div>
  <div class="py-8 px-4">
    <div class="flex space-x-4">
      <button
        (click)="selectTab('fixtures')"
        [ngClass]="{
          'border-b-2 border-blue-600 text-blue-600': selectedTab === 'fixtures'
        }"
        class="py-2 px-4 font-semibold focus:outline-none"
      >
        Fixtures
      </button>
      <button
        (click)="selectTab('standings')"
        [ngClass]="{
          'border-b-2 border-blue-600 text-blue-600':
            selectedTab === 'standings'
        }"
        class="py-2 font-semibold focus:outline-none"
      >
        Standings
      </button>
      <button
        (click)="selectTab('results')"
        [ngClass]="{
          'border-b-2 border-blue-600 text-blue-600': selectedTab === 'results'
        }"
        class="py-2 px-4 font-semibold focus:outline-none"
      >
        Results
      </button>
    </div>
  </div>

  <div class="py-8 px-4">
    <div *ngIf="selectedMainTab === 'regular'">
      <div class="py-8 px-4 text-white bg-sky-600">
        <button
          (click)="toggleSection('teamsRoster')"
          class="flex items-center justify-between w-full px-4 py-3 text-lg font-semibold text-white bg-sky-600 transition-all duration-300 hover:bg-sky-600"
        >
          <h2 class="text-3xl font-bold text-center px-2">
            Regular Registered Team
          </h2>
          <span
            class="inline-block transition-transform transform"
            [class.-rotate-180]="showTeams"
          >
            ▼
          </span>
        </button>
        <ul
          *ngIf="showTeams"
          class="grid grid-cols-1 gap-4 mt-4 text-lg p-0 text-white"
        >
          <li
            *ngFor="let team of teamsRegular; let i = index"
            class="flex flex-col p-4 rounded-lg shadow-md bg-white text-black"
          >
            <div class="flex items-center justify-between">
              <span>{{ team.name }}</span>
              <button
                (click)="toggleRoster(i)"
                class="w-6 h-6 text-white bg-sky-600 border border-sky-600 rounded-full hover:bg-sky-600 focus:ring-2 focus:ring-sky-600"
              >
                <span
                  class="transform transition-transform"
                  [class.rotate-45]="showRosterIndex === i"
                >
                  +
                </span>
              </button>
            </div>
            <ul
              *ngIf="showRosterIndex === i"
              class="mt-2 pl-5 list-disc list-inside space-y-2 text-gray-500"
            >
              <li *ngFor="let player of team.roster">{{ player }}</li>
            </ul>
          </li>
        </ul>
      </div>
      <div
        *ngIf="selectedTab === 'fixtures'"
        class="mt-3 bg-sky-600 text-white px-2 pb-2"
      >
        <h2 class="text-3xl font-bold text-center pt-4 text-white">Fixtures</h2>
        <span>**Subject to Change**</span>
        <p class="mt-2 mb-3"><b>Day 1</b></p>
        <h4 class="pt-3">Group Stage</h4>
        <h6>Game Duration: 50 minutes (25 min half + 5 min halftime)</h6>
        <div class="overflow-x-auto">
          <table class="min-w-full bg-transparent border rounded-lg">
            <thead>
              <tr class="bg-white text-white border-b">
                <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Time
                </th>
                <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Field 1
                </th>
                <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Field 2
                </th>
                <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Field 3
                </th>
              </tr>
            </thead>
            <tbody class="text-white">
              <tr
                *ngFor="let fixture of fixtures"
                class="border-b border border-gray-200"
              >
                <td class="border px-4 py-2" data-label="Time">
                  {{ fixture.time }}
                </td>
                <td class="border px-4 py-2" data-label="Field 1">
                  {{ fixture.field1 }}
                </td>
                <td class="border px-4 py-2" data-label="Field 2">
                  {{ fixture.field2 }}
                </td>
                <td class="border px-4 py-2" data-label="Field 2">
                  {{ fixture.field3 }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h4 class="pt-3">QuarterFinal</h4>
        <h6>Game Duration: 50 minutes (25 min half + 5 min halftime)</h6>
        <div class="overflow-x-auto">
          <table class="min-w-full bg-transparent border rounded-lg">
            <thead>
              <tr class="bg-white border-b">
                <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Time
                </th>
                <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Field 1
                </th>
                <!-- <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Volunteer
                </th>
                <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Refree
                </th> -->
                <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Field 2
                </th>
                <!-- <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Volunteer
                </th>
                <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Refree
                </th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let fixture of fixtures2"
                class="border-b border-gray-200"
              >
                <td class="border px-4 py-2" data-label="Time">
                  {{ fixture.time }}
                </td>
                <td class="border px-4 py-2" data-label="Field 1">
                  {{ fixture.field1 }}
                </td>
                <!-- <td class="border px-4 py-2" data-label="Field 2">1 & 2</td>
                <td class="border px-4 py-2" data-label="Field 2">Ref 1</td> -->
                <td class="border px-4 py-2" data-label="Field 2">
                  {{ fixture.field2 }}
                </td>
                <!-- <td class="border px-4 py-2" data-label="Field 2">3 & 4</td>
                <td class="border px-4 py-2" data-label="Field 2">Ref 2</td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="overflow-x-auto pt-3">
          <table class="min-w-full bg-transparent border rounded-lg">
            <thead>
              <tr class="bg-white border-b">
                <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Time
                </th>
                <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Field 3
                </th>
                <!-- <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Volunteer
                </th>
                <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Refree
                </th> -->
                <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Field 4
                </th>
                <!-- <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Volunteer
                </th>
                <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Refree
                </th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let fixture of fixtures3"
                class="border-b border-gray-200"
              >
                <td class="border px-4 py-2" data-label="Time">
                  {{ fixture.time }}
                </td>
                <td class="border px-4 py-2" data-label="Field 1">
                  {{ fixture.field1 }}
                </td>
                <!-- <td class="border px-4 py-2" data-label="Field 2">5 & 6</td>
                <td class="border px-4 py-2" data-label="Field 2">Ref 3</td> -->
                <td class="border px-4 py-2" data-label="Field 2">
                  {{ fixture.field2 }}
                </td>
                <!-- <td class="border px-4 py-2" data-label="Field 2">7 & 8</td>
                <td class="border px-4 py-2" data-label="Field 2">Ref 4</td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <p class="mt-2 pt-3"><b>Day 2</b></p>
        <h4>SemiFinal</h4>
        <h6>Game Duration: 60 minutes (30 min half + 5 min halftime)</h6>
        <div class="overflow-x-auto pb-3">
          <table class="min-w-full bg-transparent border rounded-lg">
            <thead>
              <tr class="bg-white border-b">
                <th
                  class="border px-4 text-gray-600 py-2 text-left font-semibold"
                >
                  Time
                </th>
                <th
                  class="border px-4 text-gray-600 py-2 text-left font-semibold"
                >
                  Field 1
                </th>
                <!-- <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Volunteer
                </th>
                <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Refree
                </th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let fixture of fixtures4"
                class="border-b border-gray-200"
              >
                <td class="border px-4 py-2" data-label="Time">
                  {{ fixture.time }}
                </td>
                <td class="border px-4 py-2" data-label="Field 1">
                  {{ fixture.field1 }}
                </td>
                <!-- <td class="border px-4 py-2" data-label="Field 2">1 & 2</td>
                <td class="border px-4 py-2" data-label="Field 2">Ref 1</td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="overflow-x-auto pb-3">
          <table class="min-w-full bg-transparent border rounded-lg">
            <thead>
              <tr class="bg-white border-b">
                <th
                  class="border px-4 text-gray-600 py-2 text-left font-semibold"
                >
                  Time
                </th>
                <th
                  class="border px-4 text-gray-600 py-2 text-left font-semibold"
                >
                  Field 2
                </th>
                <!-- <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Volunteer
                </th>
                <th
                  class="border text-gray-600 px-4 py-2 text-left font-semibold"
                >
                  Refree
                </th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let fixture of fixtures4"
                class="border-b border-gray-200"
              >
                <td class="border px-4 py-2" data-label="Time">
                  {{ fixture.time }}
                </td>
                <td class="border px-4 py-2" data-label="Field 1">
                  {{ fixture.field2 }}
                </td>
                <!-- <td class="border px-4 py-2" data-label="Field 2">2 & 3</td>
                <td class="border px-4 py-2" data-label="Field 2">Ref 2</td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <h4 class="pt-3">Final</h4>
        <h6>Game Duration: 60 minutes (30 min half + 5 min halftime)</h6>
        <div class="overflow-x-auto pb-2">
          <table
            class="min-w-full bg-transparent border border-gray-200 rounded-lg"
          >
            <thead>
              <tr class="bg-gray-100 border-b">
                <th
                  class="border px-4 text-gray-600 py-2 text-left font-semibold"
                >
                  Time
                </th>
                <th
                  class="border px-4 text-gray-600 py-2 text-left font-semibold"
                >
                  Field 1
                </th>
                <!-- <th
                  class="border px-4 py-2 text-left text-gray-600 font-semibold"
                >
                  Volunteer
                </th>
                <th
                  class="border px-4 py-2 text-left text-gray-600 font-semibold"
                >
                  Referee
                </th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let fixture of fixtures6"
                class="border-b border-gray-200"
              >
                <td class="border px-4 py-2" data-label="Time">
                  {{ fixture.time }}
                </td>
                <td class="border px-4 py-2" data-label="Field 1">
                  {{ fixture.field1 }}
                </td>
                <!-- <td class="border px-4 py-2" data-label="Field 1">1 & 2</td>
                <td class="border px-4 py-2" data-label="Field 1">Ref 1</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div
        *ngIf="selectedTab === 'standings'"
        class="mt-3 bg-sky-600 text-white px-2 pb-2"
      >
        <h2 class="text-3xl font-bold text-center pt-4 pb-2 mb-4">Standings</h2>
        <div *ngFor="let group of standingsGroups" class="mb-6">
          <table
            class="min-w-full bg-transparent border rounded-lg text-center pb-2"
          >
            <thead class="px-2 bg-gray-100">
              <tr class="bg-transparent text-white border-b">
                <th class="border text-gray-600">GP</th>
                <th class="border text-gray-600 px-4 py-2">Team</th>
                <th class="border text-gray-600 px-4 py-2">P</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let team of group" class="border border-gray-300">
                <td class="border" data-label="Played">
                  {{ team?.played }}
                </td>
                <td class="border px-4 py-2" data-label="Team">
                  {{ team?.name }}
                </td>
                <td class="border px-4 py-2" data-label="Points">
                  {{ team?.points }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div
        *ngIf="selectedTab === 'results'"
        class="mt-3 bg-sky-600 text-white px-2 pb-2"
      >
        <h2 class="text-3xl font-bold text-center pt-3 mb-4">Results</h2>
        <table
          class="results-table min-w-full bg-transparent border rounded-lg text-center pb-2"
        >
          <thead>
            <tr class="bg-gray-100">
              <th class="border px-4 py-2 text-gray-600 text-lg">Fixtures</th>
              <th class="border px-4 py-2 text-gray-600 text-lg">Results</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of results" class="border-b border-gray-300">
              <td class="border px-4 py-2" data-label="Fixture">
                {{ team.fixture }}
              </td>
              <td class="border px-4 py-2" data-label="Result">
                {{ team.result }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="selectedMainTab === '35+'">
      <div class="py-8 px-4 pb-4 bg-sky-600">
        <button
          (click)="toggleSection('teams35Roster')"
          class="flex items-center justify-between w-full px-4 py-3 text-lg font-semibold text-white bg-sky-600 transition-all duration-300 hover:bg-sky-600"
        >
          <h2 class="text-3xl font-bold text-center">35+ Registered Team</h2>
          <span
            class="inline-block transition-transform transform px-2"
            [class.-rotate-180]="show35Teams"
          >
            ▼
          </span>
        </button>
        <ul
          *ngIf="show35Teams"
          class="grid grid-cols-1 gap-4 mt-4 text-lg p-0 text-white"
        >
          <li
            *ngFor="let team of teams35; let i = index"
            class="flex flex-col p-4 rounded-lg shadow-md bg-white text-black"
          >
            <div class="flex items-center justify-between">
              <span>{{ team.name }}</span>
              <button
                (click)="toggle35Roster(i)"
                class="w-6 h-6 text-white bg-sky-600 border border-sky-600 rounded-full hover:bg-sky-600 focus:ring-2 focus:ring-sky-600"
              >
                <span
                  class="transform transition-transform"
                  [class.rotate-45]="showRoster35Index === i"
                >
                  +
                </span>
              </button>
            </div>
            <ul
              *ngIf="showRoster35Index === i"
              class="mt-2 pl-5 list-disc list-inside space-y-2 text-gray-500"
            >
              <li *ngFor="let player of team.roster">{{ player }}</li>
            </ul>
          </li>
        </ul>
      </div>
      <div
        *ngIf="selectedTab === 'fixtures'"
        class="mt-3 bg-sky-600 text-white px-2 pb-2"
      >
        <h2 class="text-3xl pt-4 font-bold text-center">35+ Fixtures</h2>
        <span>**Subject to Change**</span>
        <p class="mt-2 mb-3"><b>Day 1</b></p>
        <h4>Group Stage</h4>
        <h6>Game Duration: 50 minutes (25 min half + 5 min halftime)</h6>
        <div class="overflow-x-auto">
          <table class="min-w-full border border-gray-200 rounded-lg">
            <thead>
              <tr class="bg-gray-100">
                <th
                  class="border px-4 py-2 text-left text-gray-600 font-semibold"
                >
                  Time
                </th>
                <th
                  class="border px-4 py-2 text-left text-gray-600 font-semibold"
                >
                  Field 1
                </th>
                <th
                  class="border px-4 py-2 text-left text-gray-600 font-semibold"
                >
                  Field 2
                </th>
                <!-- <th
                  class="border px-4 py-2 text-left text-gray-600 font-semibold"
                >
                  Volunteer
                </th>
                <th
                  class="border px-4 py-2 text-left text-gray-600 font-semibold"
                >
                  Referee
                </th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let fixture of fixtures35"
                class="border-b border-gray-200"
              >
                <td class="border px-4 py-2" data-label="Time">
                  {{ fixture.time }}
                </td>
                <td class="border px-4 py-2" data-label="Field 1">
                  {{ fixture.field1 }}
                </td>
                <td class="border px-4 py-2" data-label="Field 1">
                  {{ fixture.field2 }}
                </td>
                <!-- <td class="border px-4 py-2">5 & 6</td>
                <td class="border px-4 py-2">Ref 3</td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <p class="pt-3"><b>Day 2</b></p>
        <h4>Group Stage</h4>
        <h6>Game Duration: 50 minutes (25 min half + 5 min halftime)</h6>
        <div class="overflow-x-auto">
          <table class="min-w-full border border-gray-200 rounded-lg">
            <thead>
              <tr class="bg-gray-100">
                <th
                  class="border px-4 py-2 text-left text-gray-600 font-semibold"
                >
                  Time
                </th>
                <th
                  class="border px-4 py-2 text-left text-gray-600 font-semibold"
                >
                  Field 1
                </th>
                <th
                  class="border px-4 py-2 text-left text-gray-600 font-semibold"
                >
                  Field 2
                </th>
                <!-- <th
                  class="border px-4 py-2 text-left text-gray-600 font-semibold"
                >
                  Volunteer
                </th>
                <th
                  class="border px-4 py-2 text-left text-gray-600 font-semibold"
                >
                  Referee
                </th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let fixture of fixtures335"
                class="border-b border-gray-200"
              >
                <td class="border px-4 py-2" data-label="Time">
                  {{ fixture.time }}
                </td>
                <td class="border px-4 py-2" data-label="Field 1">
                  {{ fixture.field1 }}
                </td>
                <td class="border px-4 py-2" data-label="Field 1">
                  {{ fixture.field2 }}
                </td>
                <!-- <td class="border px-4 py-2">5 & 6</td>
                <td class="border px-4 py-2">Ref 3</td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <h4 class="pt-3">Final</h4>
        <h6 class="pt-3">
          Game Duration: 60 minutes(30 min half + 5 min halftime)
        </h6>
        <div class="overflow-x-auto">
          <table
            class="min-w-full bg-transparent border border-gray-200 rounded-lg"
          >
            <thead>
              <tr class="bg-gray-100">
                <th
                  class="border px-4 py-2 text-left text-gray-600 font-semibold"
                >
                  Time
                </th>
                <th
                  class="border px-4 py-2 text-left text-gray-600 font-semibold"
                >
                  Field 1
                </th>
                <!-- <th
                  class="border px-4 py-2 text-left text-gray-600 font-semibold"
                >
                  Volunteer
                </th>
                <th
                  class="border px-4 py-2 text-left text-gray-600 font-semibold"
                >
                  Referee
                </th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let fixture of fixtures235"
                class="border-b border-gray-200"
              >
                <td class="border px-4 py-2" data-label="Time">
                  {{ fixture.time }}
                </td>
                <td class="border px-4 py-2" data-label="Field 1">
                  {{ fixture.field1 }}
                </td>
                <!-- <td class="border px-4 py-2">1 & 2</td>
                <td class="border px-4 py-2">Ref 1</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div
        *ngIf="selectedTab === 'standings'"
        class="mt-3 bg-sky-600 text-white px-2 pb-2"
      >
        <h2 class="text-3xl font-bold text-center pt-4">35+ Standings</h2>
        <div *ngFor="let group of standingsGroups35" class="mb-6">
          <table
            class="standings-table min-w-full border text-center border-gray-200 rounded-lg"
          >
            <thead>
              <tr class="bg-gray-100">
                <th class="border border-gray-300 text-gray-600">GP</th>
                <th class="border border-gray-300 px-4 py-2 text-gray-600">
                  Team
                </th>
                <th class="border border-gray-300 px-4 py-2 text-gray-600">
                  P
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let team of group" class="border-b border-gray-300">
                <td class="border" data-label="Played">
                  {{ team?.played }}
                </td>
                <td class="px-4 py-2 border" data-label="Team">
                  {{ team?.name }}
                </td>
                <td class="px-4 py-2 border" data-label="Points">
                  {{ team?.points }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div
        *ngIf="selectedTab === 'results'"
        class="mt-3 bg-sky-600 text-white px-2 pb-2"
      >
        <h2 class="text-3xl font-bold text-center pt-4">35+ Results</h2>
        <table
          class="results-table min-w-full border border-gray-200 rounded-lg"
        >
          <thead>
            <tr class="bg-gray-100">
              <th class="border border-gray-300 px-4 py-2 text-gray-800">
                Fixtures
              </th>
              <th class="border border-gray-300 px-4 py-2 text-gray-800">
                Results
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of results35" class="border-b border-gray-300">
              <td class="border px-4 py-2" data-label="Fixture">
                {{ team.fixture }}
              </td>
              <td class="border px-4 py-2" data-label="Result">
                {{ team.result }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
