.mt-16 {
  margin-top: 4rem;
}

.hero {
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
}

a {
  color: black !important;
  /* background-color: transparent;
  text-decoration: none; */
}
